<h1>マイマップの登録一覧</h1>

<% if @way_points.present? %>
<ul data-role="listview" data-inset="true">
  <% @way_points.each do |way_point| %>
  <li><%= link_to way_point.place.name, "/places/#{way_point.place.id}" %></li>
  <% end %>
</ul>
<% end %>

<br>

<!--
<%= link_to 'New My map', new_my_map_path %>
-->
	<%= link_to "地図の表示", :map_index, data: {role: :button} %>