<div data-role="page">
	<div data-role="header">
		<h1>青森大学</h1>
		<h1>大学祭マップ</h1>
	</div>
	<div data-role="content">
		<% if @current_member %>
			<div id="member">
			ユーザー: <%= @current_member.user %>
			<br>
			<%= button_to 'ログアウト', logout_path, method: :delete %>
			</div>
		<% end %>
		
		<p>ようこそ</p>

		<%= link_to "ジャンルから探す", :categories, data: {role: :button} %>
		

	</div>
	<div data-role="footer">
		<h4>青森大学2013年大学祭</h4>
	</div>
</div>