<h2>このアプリでは青森市の中心市街地のお勧めのグルメを紹介します。</h2>

	<%= link_to "ジャンルから探す", :categories, data: {role: :button} %>
	<%= link_to "マップを表示", :map_index, data: {role: :button} %>
	<%= link_to "マイマップの操作", :my_maps, data: {role: :button} %>
	<%= link_to "チェックイン", :checkins, data: {role: :button} %>

